{
  "id": "",
  "name": "",
  "desc": "",
  "script": "",
  "email": {
    "enable": false,
    "protocol": "",
    "server": "",
    "sendEmailUser": "",
    "sendEmailPwd": "",
    "receiveEmailUsers": ""
  },
  "triggers": [
    {
      "type": "",
      "rule": ""
    }
  ]
}